<h4>Enter Information</h4>
<%= form_with(model: @task, local: true, url: confirm_tasks_path) do |form| %>
    
  <% if @task.errors.any? %>
   <div id="error_explanation">
      <h4>
        <%= pluralize(@task.errors.count, "error") %> prohibited
        this article from being saved:
      </h4>
      <ul>
        <% @task.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>  
  <% end %>

  <%= form.label :name%>
  <%= form.text_field :name %> 
  <%= form.label :detail%>
  <%= form.text_area :detail %> 
  <%= form.submit "Create Task"%>
<% end %>

 <%= link_to "All Task", tasks_path %> 