<h3>Confirmation page</h3>

<%= form_with(model: @task, url: tasks_path, local: true) do |form| %> 
  <%= form.hidden_field :name %> 
  <p>Name:<%= @task.name %></p>
  <%= form.hidden_field :detail %> 
  <p>Detail:<%= task.detail %></p>
  <%= form.submit  "Confirm" %>
  <%= form.submit "Back", name: 'back' %>
<% end %>

<%= link_to "Task List", tasks_path %>