<div class="row">
  <div class="col-12">
    <h1 class="mt-5" style="background-color: #5412;margin-bottom: 25px;">Confirmation page</h1>
    <div class="row">
      <div class="col-2"></div>
      <div class="col-8">
        <h3 style="margin-bottom: 25px;font-family: cursive;font-size: larger;">Task insformation</h3>
          <%= form_with(model: @task, url: tasks_path, local: true) do |form| %> 
            <table class="table">
              <thead class="thead-light">
                <tr>
                  <th>Names</th>
                  <th>Details</th>
                  <th>Deadline</th>
                  <th>Status</th>
                  <th>Priority</th> 
                  <th>Label</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <%= form.hidden_field :name %> 
                    <%= @task.name %>
                  </td> 
                  <td>
                    <%= form.hidden_field :detail %> 
                    <%= @task.detail %>
                  </td>
                  <td>
                    <%= form.hidden_field :deadline %> 
                    <%= @task.deadline%>
                  </td>
                  <td>
                    <%= form.hidden_field :status %> 
                    <%= @task.status%>
                  </td>
                  <td>
                    <%= form.hidden_field :priority %> 
                    <%= @task.priority%>
                  </td>
                  <td>
                    <% current_user.labels.all.each do |label| %>
                      <%= form.check_box :label_ids, { multiple: true, checked: label[:checked], disabled: label[:disabled], include_hidden: false }, label[:id] %>
                      <label style="background-color: aquamarine"><%= label.name %></label>
                    <% end %>
                  </td>
                </tr>
              </tbody>
            </table>
            <hr>
            <%= form.submit  "Confirm", :class => "btn btn-success col-3" %> |
            <%= form.submit "Back", name: 'back', :class => "btn btn-secondary col-3" %>
          <% end %>
          <hr>
          <%= link_to "Task List", tasks_path, :class => "btn btn-primary col-4"  %>
      </div>
    </div>
  </div>
</div>



