<div class="row">
  <div class="col-12">
    <h1 class="mt-5">Edit page</h1>
    <div class="row">
      <div class="col-2"></div>
      <div class="col-8">

        <% if @task.errors.any? %>
          <div id="error_explanation">
            <h4><%= @task.errors.count%> There are one or more errors...</h4>
            <div class="alert alert-danger">
              <% @task.errors.full_messages.each do |msg| %>
                <div class="alert alert-danger">
                  <li><%= msg %></li>
                </div>
              <% end %>
            </div>
          </div>
        <% end %> 

        <h3>Task insformation</h3>
          <%= form_with(model: @task, local: true) do |form| %> 
            <div class="row">
              <div class="col-12">
                <div>
                <%= form.label :name%>
                <%= form.text_field :name, :class=> "form-control"%>
                <%= form.label :detail%>
                <%= form.text_area :detail, :class=> "form-control"%>
                <%= form.label :deadline%>
                <%= form.text_field :deadline, :class=> "form-control"%>
                </div>
                <hr>
                <%= form.submit  "Edit", :class => "btn btn-success col-3" %> |
                <%= form.submit "Back", name: 'back', :class => "btn btn-secondary col-3" %>
              </div>
              
            </div>
            <hr>
            <%= link_to "Task List", tasks_path, :class => "btn btn-primary col-4"  %>
          <% end %>
      </div>
    </div>
  </div>
</div>
