<%= form_with(model: @task, local: true) do |form| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h4><%= @task.errors.count%> There are one or more errors...</h4>
      <div class="alert alert-danger">
        <% @task.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </div>
    </div>
  <% end %> 
  <div>
    <%= form.label :name%>
    <%= form.text_field :name%>
    <%= form.label :detail%>
    <%= form.text_area :detail%>
  </div>
  <%= form.submit  "Edit"%>
<% end %>

<%= link_to "Task List", tasks_path %>