
<div class="row">
  <div class="col-12">
    <h1 class="mt-5">Welcome to Tasks App</h1>
      <div class="row">
        <div class="col-12" style="margin-top: 25px; margin-bottom: 25px;">
          <%= form_with(url: tasks_path, method: :get, local: true, :class => 'form-inline') do |form|%>
            <label class="mr-sm-2">Task Search</label>
            <%= form.text_field :name , :class => 'form-control mb-2 mr-sm-5 col-4'%>
            <label class="mr-sm-2">Search Status</label>
            <%= form.select :status, [["not_yet", 0], ["in_progress", 1], ["completed", 2]], { :include_blank => '-- Make you choise --'}, { :class => 'custom-select mb-2 mr-sm-5 col-2'} %>   
            <%= form.submit 'Search', :class => 'btn btn-outline-secondary mb-2 col-2'%>
          <!--mb c'est le décalage du haut vers le bas et mr-sm-2 est le décalage de la gauche vers la droite-->
          <% end %> 
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <% flash.each do |key, value| %>
            <div class="alert alert-<%= key %>"><%= value %></div>
          <% end %>
            <h3>Tasks List</h1>
            <p><%= notice%></p>
            <hr>
            <div>
               <!--Define params sort expired to show order dadline -->
              <%= link_to "Sort by end deadline", tasks_path(sort_expired: "true"), :class => "btn btn-outline-secondary btn-sm"%> 
              <!--Define params sort expired to show order dadline -->
              <%= link_to "Sort by end priority", tasks_path(sort_priority: "true"), :class => "btn btn-outline-secondary btn-sm"%> 
            </div>
            <hr>
            <!-- Add paginate function-->
            <table class="table">
              <thead class="thead-light">
                <tr>
                  <th>Names</th>
                  <th>Details</th>
                  <th>Deadline</th>
                  <th>Status</th>
                  <th>Priority</th>
                  <th>Action</th>
                </tr>
              </thead>
              <% @task.each do |task| %>
              <tbody>
              <% if current_user && current_user == task.user%>
                <tr>
                  <td>
                    <%= task.name %>
                  </td> 
                  <td>
                    <%= task.detail %>
                  </td>
                  <td>
                    <%= task.deadline%>
                  </td>
                  <td>
                    <% if task.status == "completed" && task.status.present?%>
                      <div class="alert alert-success alert-dismissible">
                        <strong><%= task.status%></strong>
                      </div>
                    <%elsif task.status == "not_yet" && task.status.present?%>
                      <div class="alert alert-danger alert-dismissible">
                        <strong><%= task.status%></strong>
                      </div> 
                    <%elsif task.status == "in_progress" && task.status.present?%>
                      <div class="alert alert-warning alert-dismissible">
                        <strong><%= task.status%></strong>
                      </div> 
                    <%else%>
                      <%= task.status%>
                    <%end%>
                  </td>
                  <td> 
                    <%= task.priority%>
                  </td>
                  <td>
                    <!--btn-sm réduit à la taille minmale le bouton-->
                    <%= link_to "See", task_path(task.id), :class => "btn btn-outline-success"%>  
                    <%= link_to "Edit", edit_task_path(task.id),  :class => "btn btn-outline-primary"%>
                    <%= link_to "Delete", task_path(task.id), method: :delete, data: {confirm: 'Are you sure?'},  :class => "btn btn-outline-danger"%> 
                  </td>
                </tr> 
                <%end%>
              </tbody> 
              
            <% end %>
            </table>
          <hr>
          <%= paginate @task %>
          <hr>
          <div>
            <%= link_to 'New  Task', new_task_path,  :class => "btn btn-secondary btn-sm col-3"%> |
            <%= link_to 'Home Page', root_path,  :class => "btn btn-primary btn-sm col-3"%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


