
<div class="row">
  <div class="col-12">
    <h1 class="mt-5">Welcome to Tasks App</h1>
      <div class="row justify-content-md-center">
        <div class="col-12"> 
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <% flash.each do |key, value| %>
            <div class="alert alert-<%= key %>"><%= value %></div>
          <% end %>
            <h3>Tasks List</h1>
            <p><%= notice%></p>
            <hr>
            <div>
               <!--Define params sort expired to show order dadline -->
              <%= link_to "Sort by end deadline", tasks_path(sort_expired: "true"), :class => "btn btn-secondary col-2"%> 
            </div>
            <hr>
            <table class="table">
            <thead class="thead-light">
              <tr>
                <th>Names</th>
                <th>Details</th>
                <th>Deadline</th>
                <th>Status</th>
                <th>Priority</th>
                <th>Action</th>
              </tr>
            </thead>
            <% @task.each do |task| %>
            <tbody>
              <tr>
                <td><%= task.name %></td> 
                <td><%= task.detail %></td>
                <td><%= task.deadline%></td>
                <td><%= task.status%></td>
                <td><%= task.priority%></td>
                <td>
                  <%= link_to "See", task_path(task.id), :class => "btn btn-success"%>  
                  <%= link_to "Edit", edit_task_path(task.id),  :class => "btn btn-primary"%>
                  <%= link_to "Delete", task_path(task.id), method: :delete, data: {confirm: 'Are you sure?'},  :class => "btn btn-danger"%> 
                </td>
              </tr>
            </tbody>
            <% end %>
            </table>
          <hr>
          <div>
            <%= link_to 'New  Task', new_task_path,  :class => "btn btn-secondary col-4"%>
          </div>
        </div>
      </div>
  </div>
</div>


