<div class="container ">
  <% if @label.errors.any? %>
   <div id="error_explanation">
     <h2><%= pluralize(@label.errors.count, "error") %> prohibited this <%= @label.name %> from being saved:</h2>
     <ul>
      <% @label.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
     </ul>
  </div>
  <% end %>
  <div class="container">
  <div class="col-2"></div>
    <div class="col-8">
      <%= form_with(model: @label, local: true) do |f| %>
      <%= f.label :name, "label name" %>
      <%= f.text_field :name,:class=>"form-control"%>
      <hr>
      <%= f.submit :class=>"btn btn-primary"%>
      <% end %>
    </div>
   <div class="col-2"></div>
   </div>
</div>
